@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif !important; }

body.root {
  background: black !important; }

div iframe#launcher {
  left: 0 !important; }
div.socialbox {
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 100; }

.carousel-item {
  height: 500px;
  position: relative;
  display: none;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease,-webkit-transform .6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px; }
  .carousel-item.active {
    display: block; }
  .carousel-item img {
    height: 500px !important; }

.carousel-control-prev {
  left: 0; }

.carousel-control-next {
  right: 0; }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }

.carousel-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%; }

.img-fluid {
  max-width: 100%;
  height: auto; }

#container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: black; }
  #container .-hide {
    visibility: hidden; }
  #container .-remove {
    display: none; }
  #container a {
    text-decoration: none; }
    #container a.button {
      background: #BF1E2E;
      border: 1px solid #808080;
      border-radius: 20px;
      color: white;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3 ease;
      -o-transition: all 0.3 ease;
      font-weight: 500;
      cursor: pointer;
      background: #BF1E2E;
      border: 1px solid #808080;
      border-radius: 8px;
      display: inline-block;
      color: white;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3 ease;
      -o-transition: all 0.3 ease;
      font-weight: 500;
      width: auto;
      height: auto;
      cursor: pointer; }
      #container a.button:hover {
        background: white;
        border: 1px solid #BF1E2E;
        border-radius: 8px;
        color: #111;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3 ease;
        -o-transition: all 0.3 ease;
        font-weight: 500;
        cursor: pointer; }
      #container a.button--facebook {
        background: #3B5998;
        color: white !important;
        padding: 5px;
        border: 1px solid #3B5998;
        border-radius: 4px;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3 ease;
        -o-transition: all 0.3 ease; }
      #container a.button:hover {
        color: #111;
        background: #FEFEFE;
        border: 1px solid #BF1E2E;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3 ease;
        -o-transition: all 0.3 ease; }
      #container a.button--facebook:hover {
        background: #476fc1;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3 ease;
        -o-transition: all 0.3 ease; }
    #container a img {
      border: 0; }
  #container ul li {
    text-decoration: none;
    list-style: none; }
    #container ul li.etabs__tabs__tab {
      background: none;
      background-color: none; }
      #container ul li.etabs__tabs__tab.active {
        background: none;
        background-color: none; }
      #container ul li.etabs__tabs__tab a {
        background: #BF1E2E;
        transition: all 0.3s ease;
        border-radius: 8px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3 ease;
        -o-transition: all 0.3 ease; }
        #container ul li.etabs__tabs__tab a:hover {
          background: white;
          color: #111;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3 ease;
          -o-transition: all 0.3 ease; }
  #container form input[type='text'], #container form input[type='password'], #container form input[type='tel'], #container form input[type='email'] {
    border: none;
    border-bottom-style: solid;
    border-bottom-color: black;
    color: black;
    background: transparent;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease; }
    #container form input[type='text'].field, #container form input[type='password'].field, #container form input[type='tel'].field, #container form input[type='email'].field {
      color: black; }
      #container form input[type='text'].field:hover, #container form input[type='password'].field:hover, #container form input[type='tel'].field:hover, #container form input[type='email'].field:hover {
        color: white; }
    #container form input[type='text']:active, #container form input[type='password']:active, #container form input[type='tel']:active, #container form input[type='email']:active {
      border-bottom-style: solid;
      border-bottom-color: white;
      background: transparent;
      transition: all 2s ease;
      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -o-transition: all 2s ease; }
    #container form input[type='text']:hover, #container form input[type='password']:hover, #container form input[type='tel']:hover, #container form input[type='email']:hover {
      color: white;
      border-bottom-style: dashed;
      border-bottom-color: white;
      background: transparent;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3 ease;
      -o-transition: all 0.3 ease; }
  #container form input.action.button {
    background: #BF1E2E;
    border: 1px solid #808080;
    border-radius: 8px;
    display: inline-block;
    color: white;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3 ease;
    -o-transition: all 0.3 ease;
    font-weight: 500;
    width: auto;
    height: auto;
    cursor: pointer; }
    #container form input.action.button:hover {
      color: #111;
      background: #FEFEFE;
      border: 1px solid #BF1E2E;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3 ease;
      -o-transition: all 0.3 ease; }
  #container section.jumbotron {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0; }
  #container header {
    margin: 0;
    padding: 0;
    min-height: 95px;
    font-weight: 300;
    width: 100%;
    background: black; }
    #container header a {
      color: #363435; }
      #container header a.-signup {
        font-size: 15px;
        width: auto;
        height: auto; }
    #container header nav {
      background: black;
      -webkit-transition: background 1s ease-in-out;
      -moz-transition: background 1s ease-in-out;
      -o-transition: background 1s ease-in-out;
      transition: background 1s ease-in-out;
      position: fixed;
      z-index: 100;
      width: 100%;
      -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
      			/*
      			&:hover{
      
      				background: rgba( 30, 30, 30, 1 );
      				-webkit-transition: background 1s ease-in-out;
      				-moz-transition: background 1s ease-in-out;
      				-o-transition: background 1s ease-in-out;
      				transition: background 1s ease-in-out;
      
      			} */ }
      #container header nav div.-content {
        margin: 0;
        padding: 0;
        text-align: center; }
        #container header nav div.-content a {
          color: white;
          border-bottom: 0 solid #363435;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          #container header nav div.-content a:hover {
            color: #BF1E2E;
            border-bottom: 5px solid #BF1E2E;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
      #container header nav div.-logo {
        margin: 0;
        padding: 0;
        text-align: center; }
      #container header nav div ul li.list {
        display: inline-block;
        margin: 0 25px; }
      #container header nav div.-login {
        margin: 25px 0;
        padding: 0;
        text-align: center; }
        #container header nav div.-login form input[type='text'], #container header nav div.-login form input[type='password'] {
          border: none;
          color: white;
          border-bottom-style: solid;
          border-bottom-color: white;
          background: transparent;
          transition: all 2s ease;
          -webkit-transition: all 2s ease;
          -moz-transition: all 2s ease;
          -o-transition: all 2s ease; }
          #container header nav div.-login form input[type='text']:active, #container header nav div.-login form input[type='password']:active {
            border-bottom-style: solid;
            border-bottom-color: #BF1E2E;
            background: transparent;
            transition: all 2s ease;
            -webkit-transition: all 2s ease;
            -moz-transition: all 2s ease;
            -o-transition: all 2s ease; }
          #container header nav div.-login form input[type='text']:hover, #container header nav div.-login form input[type='password']:hover {
            color: #BF1E2E;
            border-bottom-style: dashed;
            border-bottom-color: #BF1E2E;
            background: transparent;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3 ease;
            -o-transition: all 0.3 ease; }
        #container header nav div.-login form input.-btn {
          background: #BF1E2E;
          border: 1px solid #808080;
          border-radius: 13px;
          display: inline-block;
          color: white;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3 ease;
          -o-transition: all 0.3 ease;
          font-weight: 500;
          width: auto;
          height: auto;
          cursor: pointer;
          padding: 0.15em 1.25em; }
          #container header nav div.-login form input.-btn:hover {
            color: #111;
            background: #FEFEFE;
            border: 1px solid #BF1E2E;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3 ease;
            -o-transition: all 0.3 ease; }
      #container header nav ul {
        display: inline-block;
        margin: 30px auto;
        padding: 0; }
        #container header nav ul li ul {
          display: block;
          position: relative;
          left: -40px; }
  #container main {
    color: white;
    margin: 0 auto;
    padding: 0;
    background-image: url("/themes/wild/img/curls.png");
    background-repeat: repeat;
    max-width: 1366px; }
    #container main section.-generic {
      padding: 50px; }
      #container main section.-generic a {
        color: white; }
        #container main section.-generic a:hover, #container main section.-generic a:active {
          color: #BF1E2E; }
    #container main section.-results div.drawbox {
      background: white;
      color: #111;
      text-align: center;
      border: 1px solid #111;
      border-radius: 8px; }
    #container main section.drawbox {
      display: block;
      width: auto;
      margin: 15px auto; }
      #container main section.drawbox div.hidden-xs {
        position: relative;
        margin-right: 25px;
        width: 155px;
        display: inline-block; }
      #container main section.drawbox div.drawbox__content {
        padding: 5px 15px;
        line-height: 26px;
        display: inline-block;
        width: auto;
        color: black; }
      #container main section.drawbox div.containerwrap {
        display: inline-block; }
      #container main section.drawbox div.notification {
        display: block;
        border: 1px solid red;
        border-radius: 5px;
        background: white;
        color: #111;
        font-weight: 500;
        padding: 20px 0; }
        #container main section.drawbox div.notification__text {
          display: inline-block;
          width: 60%;
          margin-left: 20px; }
        #container main section.drawbox div.notification a {
          float: right;
          display: inline-block;
          margin-right: 20px;
          border: 1px solid black;
          background: #BF1E2E;
          border-radius: 5px;
          padding: 5px 5px 0 5px;
          width: 150px;
          height: 40px;
          text-align: center;
          color: white;
          top: -7px;
          position: relative;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease; }
          #container main section.drawbox div.notification a:hover {
            background: white;
            color: #111;
            border: 1px solid #BF1E2E;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease; }
      #container main section.drawbox div.-event-box {
        margin: 20px auto;
        background: white;
        color: #111;
        border: 1px solid #BF1E2E;
        border-radius: 5px; }
        #container main section.drawbox div.-event-box div {
          display: inline-block;
          border: none; }
          #container main section.drawbox div.-event-box div.-img {
            margin: 20px; }
            #container main section.drawbox div.-event-box div.-img img {
              vertical-align: middle;
              border-style: none;
              width: 200px; }
          #container main section.drawbox div.-event-box div.-cta {
            float: right;
            margin: 50px 50px 50px 0; }
            #container main section.drawbox div.-event-box div.-cta a {
              display: block;
              margin-right: 20px;
              border: 1px solid black;
              background: #BF1E2E;
              border-radius: 5px;
              padding: 5px 5px 0 5px;
              width: 150px;
              height: 40px;
              text-align: center;
              color: white;
              top: -5px;
              position: relative;
              transition: all 0.3s ease;
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              margin-top: 5px;
              margin-bottom: 5px;
              transition: all 0.3s ease;
              -webkit-transition: all 0.3s ease;
              -moz-transition: all 0.3 ease;
              -o-transition: all 0.3 ease; }
              #container main section.drawbox div.-event-box div.-cta a:hover {
                color: #111;
                background: #FEFEFE;
                border: 1px solid #BF1E2E;
                transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3 ease;
                -o-transition: all 0.3 ease; }
    #container main section h3.header {
      margin: 15px 0;
      padding: 0 0 0 6.8%; }
    #container main section div#accordion {
      max-width: 500px;
      margin: 40px auto;
      padding: 30px 0;
      background: white;
      border: 1px solid black;
      color: black;
      border-radius: 5px; }
      #container main section div#accordion div.panel-default {
        background: white;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease; }
        #container main section div#accordion div.panel-default .panel-heading {
          text-align: left;
          border: none;
          border-bottom: 1px solid black;
          padding: 5px 0 5px 10px;
          margin: 2px 0;
          background-image: none;
          background-color: white;
          background-repeat: no-repeat;
          transition: all .3s ease;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -o-transition: all .3s ease; }
          #container main section div#accordion div.panel-default .panel-heading:hover {
            background: #BF1E2E;
            color: white;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease; }
          #container main section div#accordion div.panel-default .panel-heading h4 {
            line-height: 2.2; }
        #container main section div#accordion div.panel-default .panel-body {
          padding: 20px 10px; }
        #container main section div#accordion div.panel-default:hover {
          background: #BF1E2E;
          color: white;
          transition: all .3s ease;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -o-transition: all .3s ease; }
      #container main section div#accordion div.-info-box-header {
        border-bottom: 1px solid black; }
        #container main section div#accordion div.-info-box-header i, #container main section div#accordion div.-info-box-header h3 {
          display: inline-block; }
        #container main section div#accordion div.-info-box-header i {
          margin: 20px 10px;
          position: relative;
          font-size: 30px; }
      #container main section div#accordion div.-cta a {
        padding: 15px 0 15px 10px; }
      #container main section div#accordion div a {
        color: black;
        font-weight: 300;
        font-size: 20px;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease; }
        #container main section div#accordion div a:hover {
          color: white;
          transition: all .3s ease;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -o-transition: all .3s ease; }
        #container main section div#accordion div a.collapsed {
          display: inline-block;
          overflow: hidden; }
    #container main section div.cmsinput {
      padding: 50px; }
    #container main section div.account div {
      border-radius: 8px; }
    #container main section div.account__section {
      background: black; }
      #container main section div.account__section.box {
        background: black; }
    #container main section div.account__header {
      color: white; }
    #container main section div.account__content {
      color: black;
      background: #BF1E2E; }
      #container main section div.account__content .cmsinput {
        color: white; }
        #container main section div.account__content .cmsinput h1, #container main section div.account__content .cmsinput h2, #container main section div.account__content .cmsinput h3, #container main section div.account__content .cmsinput h4, #container main section div.account__content .cmsinput h5, #container main section div.account__content .cmsinput h6 {
          color: black; }
      #container main section div.account__content .funds__title {
        color: white; }
      #container main section div.account__content div.dataTables_info {
        color: white; }
      #container main section div.account__content div.dataTables_paginate a {
        color: white !important;
        cursor: pointer; }
        #container main section div.account__content div.dataTables_paginate a:hover {
          color: black !important; }
      #container main section div.account__content h2.account__name {
        color: white; }
      #container main section div.account__content h3.account__fieldname {
        color: black; }
      #container main section div.account__content p.account__fields, #container main section div.account__content address.account__fields {
        color: white !important; }
    #container main section.-games {
      margin-bottom: 20px; }
      #container main section.-games h3 {
        margin-left: 133px; }
      #container main section.-games div.-padded-15 {
        margin: 0;
        padding: 20px 0;
        width: auto;
        background: #111;
        border-radius: 20px; }
      #container main section.-games div.-loadmore {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 140px;
        background: #111;
        text-align: center;
        padding: 0 0 10px 0;
        border-radius: 5px;
        top: -5px; }
        #container main section.-games div.-loadmore a {
          color: white;
          text-decoration: none;
          font-weight: 300;
          font-size: 20px;
          transition: all .3s ease;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -o-transition: all .3s ease; }
          #container main section.-games div.-loadmore a:hover {
            color: #BF1E2E;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease; }
      #container main section.-games ul {
        display: block;
        width: 1100px;
        margin: 0 auto; }
        #container main section.-games ul li {
          display: inline-block;
          padding: 3px; }
          #container main section.-games ul li div {
            text-align: center; }
            #container main section.-games ul li div.-overlay {
              border: 5px solid transparent;
              background: transparent;
              margin: 0 14px; }
              #container main section.-games ul li div.-overlay:hover {
                border: 5px solid white;
                background: white; }
              #container main section.-games ul li div.-overlay a {
                text-align: center;
                background: white;
                margin: 5px auto;
                color: #111;
                width: 100%;
                font-weight: 700;
                display: block; }
                #container main section.-games ul li div.-overlay a:hover {
                  color: #BF1E2E;
                  text-align: center; }
            #container main section.-games ul li div.-hide {
              display: none; }
            #container main section.-games ul li div.-game-title {
              padding: 15px;
              background: #BF1E2E;
              font-weight: 700; }
          #container main section.-games ul li span.-game-price {
            float: right;
            background: white;
            color: black;
            padding: 5px 8px;
            border: 1px solid black;
            border-radius: 10px;
            /* width: 5px; */
            height: 40px;
            /* margin-bottom: 10px; */
            position: relative;
            top: -10px; }
          #container main section.-games ul li img {
            width: 295px;
            height: 158px; }
    #container main section table {
      margin: 20px auto;
      text-align: center;
      width: 100%;
      border-collapse: collapse; }
      #container main section table thead {
        background: #BF1E2E;
        color: white; }
      #container main section table tbody {
        background: white;
        color: #111; }
      #container main section table th {
        vertical-align: center; }
      #container main section table td {
        border-bottom: 2px solid black;
        padding: 10px;
        vertical-align: center; }
    #container main section.focusarea {
      background: white;
      color: #111;
      width: 100%; }
      #container main section.focusarea div a {
        color: #111; }
        #container main section.focusarea div a.button {
          color: white; }
          #container main section.focusarea div a.button:hover {
            color: #111; }
        #container main section.focusarea div a:hover, #container main section.focusarea div a:active {
          color: #BF1E2E; }
      #container main section.focusarea div input, #container main section.focusarea div p, #container main section.focusarea div a, #container main section.focusarea div h3, #container main section.focusarea div label {
        margin: 15px auto; }
      #container main section.focusarea div select {
        padding: 0;
        margin: 15px 0; }
      #container main section.focusarea div input[type='submit'] {
        background: #BF1E2E;
        border: 1px solid #808080;
        border-radius: 8px;
        display: inline-block;
        color: white;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3 ease;
        -o-transition: all 0.3 ease;
        font-weight: 500;
        width: auto;
        height: auto;
        cursor: pointer; }
        #container main section.focusarea div input[type='submit']:hover {
          background: white;
          color: #111;
          border: 1px solid #BF1E2E;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3 ease;
          -o-transition: all 0.3 ease; }
      #container main section.focusarea div.focusarea__container {
        background: #BF1E2E;
        padding: 20px 0;
        color: black; }
        #container main section.focusarea div.focusarea__container.game {
          background: transparent; }
          #container main section.focusarea div.focusarea__container.game div.cmsinput {
            background: white;
            color: black;
            border-radius: 8px; }
            #container main section.focusarea div.focusarea__container.game div.cmsinput h3 {
              color: black; }
        #container main section.focusarea div.focusarea__container form input[type='text'], #container main section.focusarea div.focusarea__container form input[type='password'], #container main section.focusarea div.focusarea__container form input[type='tel'], #container main section.focusarea div.focusarea__container form input[type='email'] {
          border: none;
          border-bottom-style: solid;
          border-bottom-color: black;
          background: transparent;
          transition: all 2s ease;
          -webkit-transition: all 2s ease;
          -moz-transition: all 2s ease;
          -o-transition: all 2s ease; }
          #container main section.focusarea div.focusarea__container form input[type='text']:active, #container main section.focusarea div.focusarea__container form input[type='password']:active, #container main section.focusarea div.focusarea__container form input[type='tel']:active, #container main section.focusarea div.focusarea__container form input[type='email']:active {
            border-bottom-style: solid;
            border-bottom-color: white;
            background: transparent;
            transition: all 2s ease;
            -webkit-transition: all 2s ease;
            -moz-transition: all 2s ease;
            -o-transition: all 2s ease; }
          #container main section.focusarea div.focusarea__container form input[type='text']:hover, #container main section.focusarea div.focusarea__container form input[type='password']:hover, #container main section.focusarea div.focusarea__container form input[type='tel']:hover, #container main section.focusarea div.focusarea__container form input[type='email']:hover {
            color: white;
            border-bottom-style: dashed;
            border-bottom-color: white;
            background: transparent;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3 ease;
            -o-transition: all 0.3 ease; }
        #container main section.focusarea div.focusarea__container form a.form__fieldholdertext {
          color: black; }
        #container main section.focusarea div.focusarea__container form a.form__fieldholdertext:hover {
          color: white; }
        #container main section.focusarea div.focusarea__container form a.button {
          color: white;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3 ease;
          -o-transition: all 0.3 ease; }
          #container main section.focusarea div.focusarea__container form a.button.drawpurchase__uselastbutton {
            font-size: 20px; }
          #container main section.focusarea div.focusarea__container form a.button:hover {
            color: black;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3 ease;
            -o-transition: all 0.3 ease; }
        #container main section.focusarea div.focusarea__container a.button {
          color: white;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3 ease;
          -o-transition: all 0.3 ease; }
          #container main section.focusarea div.focusarea__container a.button:hover {
            color: black;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3 ease;
            -o-transition: all 0.3 ease; }
      #container main section.focusarea div input[type='text'], #container main section.focusarea div input[type='password'], #container main section.focusarea div input[type='email'], #container main section.focusarea div input[type='tel'], #container main section.focusarea div select {
        width: 300px; }
      #container main section.focusarea div.containerwrap {
        color: black; }
    #container main div.account__content {
      background: #BF1E2E;
      color: white; }
      #container main div.account__content h2 {
        color: black; }
      #container main div.account__content div.dataTables_info {
        color: white; }
      #container main div.account__content div.dataTables_paginate a {
        color: white !important;
        cursor: pointer; }
        #container main div.account__content div.dataTables_paginate a:hover {
          color: black !important; }
    #container main div.account__section {
      background: black; }
    #container main div.pageheader.primarycolour {
      background: #BF1E2E; }
    #container main div.cmsinput--faint {
      padding: 50px; }
      #container main div.cmsinput--faint a {
        color: #BF1E2E; }
        #container main div.cmsinput--faint a:hover {
          color: #f2374a; }
    #container main div.cmsinput table {
      margin: 20px auto;
      text-align: center;
      width: 100%;
      border-collapse: collapse; }
      #container main div.cmsinput table thead {
        background: #BF1E2E;
        color: white; }
        #container main div.cmsinput table thead td {
          color: black;
          background-color: #BF1E2E; }
      #container main div.cmsinput table tbody {
        background: white;
        color: #111; }
      #container main div.cmsinput table th {
        vertical-align: center; }
      #container main div.cmsinput table td {
        border-bottom: 2px solid black;
        padding: 10px;
        vertical-align: center; }
    #container main div.containerwrap {
      margin: 0 0 20px 0; }
  #container footer {
    background: #111;
    color: white;
    padding: 0;
    margin: 0 auto;
    max-width: 1366px; }
    #container footer div.div.-top.-left {
      min-width: 500px;
      display: inline-block;
      margin: 40px 20px; }
      #container footer div.div.-top.-left ul {
        display: inline-block; }
        #container footer div.div.-top.-left ul.-container {
          top: 0;
          position: relative;
          margin: 0 40px 0 0; }
        #container footer div.div.-top.-left ul li {
          display: block; }
          #container footer div.div.-top.-left ul li.-heading {
            font-weight: 700;
            margin-left: 20px; }
          #container footer div.div.-top.-left ul li ul {
            display: block;
            margin: 0;
            padding: 0; }
            #container footer div.div.-top.-left ul li ul li {
              display: block;
              font-weight: 300; }
              #container footer div.div.-top.-left ul li ul li a {
                color: white; }
                #container footer div.div.-top.-left ul li ul li a:hover, #container footer div.div.-top.-left ul li ul li a:active {
                  color: #111; }
    #container footer div.div.-top.-right {
      min-width: 450px;
      display: inline-block; }
      #container footer div.div.-top.-right div.-top {
        display: block;
        width: 125px;
        margin: 0;
        padding: 0; }
        #container footer div.div.-top.-right div.-top a img {
          width: 100%;
          max-height: 100%;
          object-fit: contain; }
      #container footer div.div.-top.-right div.-bottom p {
        display: block;
        font-weight: 300;
        padding: 10px 25px; }
    #container footer div.div.-bottom.-fullwidth {
      margin: 20px auto; }
      #container footer div.div.-bottom.-fullwidth ul {
        display: block;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        padding: 30px 0; }
        #container footer div.div.-bottom.-fullwidth ul li {
          display: inline-block;
          margin: 0 7%; }
          #container footer div.div.-bottom.-fullwidth ul li div {
            width: 50px; }
            #container footer div.div.-bottom.-fullwidth ul li div img {
              width: 100%;
              max-height: 100%;
              object-fit: contain; }
    #container footer div.div.-copyright {
      margin-top: 20px; }
  #container aside#jumptotop {
    float: right;
    z-index: 90;
    position: fixed;
    top: 20px;
    right: 3%;
    width: 100px;
    height: 100px;
    top: 85%;
    border: 5px solid #BF1E2E;
    border-radius: 80px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; }
    #container aside#jumptotop:hover {
      border: 5px solid white;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease; }
    #container aside#jumptotop a {
      width: 30px;
      height: 300px;
      position: relative;
      position: relative;
      margin: 0 auto; }
      #container aside#jumptotop a i {
        width: 30px;
        height: 30px;
        font-size: 50px;
        position: relative;
        top: 10px;
        left: 20px;
        color: #BF1E2E;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease; }
        #container aside#jumptotop a i:hover {
          color: white;
          top: 5px;
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3 ease;
          -o-transition: all 0.3 ease; }

@media (max-width: 960px) {
  #container header {
    height: 278px;
    width: 100%; }
  #container .socialbox {
    display: none; }
  #container section.jumbotron {
    background: black; }
    #container section.jumbotron div.carousel-item {
      height: auto !important; }
      #container section.jumbotron div.carousel-item img {
        height: auto !important; } }

/*# sourceMappingURL=style.css.map */
