html, body{ 
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif !important;
}

body{
	&.root{
	
		background: black !important;

	}
}

div{

	iframe{

		&#launcher{

			left: 0 !important;

		}

	}

	&.socialbox{

		position: fixed;
    	right: 0;
    	top: 100px;
    	z-index: 100;

	}

}

.carousel-item{

	height: 500px;
    position: relative;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;

    &.active{

    	display: block;

    }

    img{

    	height: 500px !important;

    }

}

.carousel-control-prev {

    left: 0;

}

.carousel-control-next {

    right: 0;

}

.carousel-control-next-icon {

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");

}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
}

.carousel-control-prev-icon{

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");

}

.carousel-prev-icon{

	display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;

}

.carousel-indicators{

	li{

		float: left;

	}

}

.carousel-caption{

	&.d-md-block{
		
	    background: rgba(0,0,0,.8);
	    border-radius: 12px;
	    height: 260px;
	    width: 500px;
	    top: 20%;
	    left: 15%;
	    -webkit-box-shadow: 16px 18px 5px -4px rgba(0,0,0,0.75);
	    -moz-box-shadow: 16px 18px 5px -4px rgba(0,0,0,0.75);
	    box-shadow: 16px 18px 5px -4px rgba(0,0,0,0.75);
	    -webkit-box-shadow: 8px 8px 5px -4px rgba(0,0,0,0.75);
	    -moz-box-shadow: 8px 8px 5px -4px rgba(0,0,0,0.75);
	    box-shadow: 8px 8px 5px -4px rgba(0,0,0,0.75);

	    a{

	    	&.-slider{

		    	top: 20%;
	    		position: relative;
	    		display: block !important;
	    		width: 300px !important;
	    		margin: 0 auto;
	   			-webkit-box-shadow: 16px 18px 5px -4px rgba(0,0,0,0.75);
	   			-moz-box-shadow: 16px 18px 5px -4px rgba(0,0,0,0.75);
	    		box-shadow: 16px 18px 5px -4px rgba(0,0,0,0.75);

    		}
	    }
	}
}


.img-fluid{

	max-width: 100%;
    height: auto;

}

#container{

	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: black;

	.-hide{

		visibility: hidden;

	}

	.-remove{

		display: none;
	}

	a {

		text-decoration: none;

		&.button{

			background: #BF1E2E;
		    border: 1px solid #808080;
		    border-radius: 20px;
		    color: white;
		    transition: all 0.3s ease;
		    -webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3 ease;
		    -o-transition: all 0.3 ease;
		    font-weight: 500;
		    cursor: pointer;


		    &:hover{

				background: white;
			    border: 1px solid #BF1E2E;
			    border-radius: 8px;
			    color: #111;
			    line-height: 1.6;
			    transition: all 0.3s ease;
			    -webkit-transition: all 0.3s ease;
			    -moz-transition: all 0.3 ease;
			    -o-transition: all 0.3 ease;
			    font-weight: 500;
			    cursor: pointer;

		    }

			&--facebook{

				background: #3B5998;
    			color: white !important;
    			padding: 5px;
    			border: 1px solid #3B5998;
    			border-radius: 4px;
			    transition: all 0.3s ease;
			    -webkit-transition: all 0.3s ease;
			    -moz-transition: all 0.3 ease;
			    -o-transition: all 0.3 ease;

			}

			background: #BF1E2E;
		    border: 1px solid #808080;
		    border-radius: 8px;
		    display: inline-block;
		    color: white;
		    transition: all 0.3s ease;
		    -webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3 ease;
		    -o-transition: all 0.3 ease;
		    font-weight: 500;
		    width: auto;
		    height: auto;
			cursor: pointer;


		    &:hover{

		    	color: #111;
		    	background: #FEFEFE;
		    	border: 1px solid #BF1E2E;
			    transition: all 0.3s ease;
			    -webkit-transition: all 0.3s ease;
			    -moz-transition: all 0.3 ease;
			    -o-transition: all 0.3 ease;

		    }

		    &--facebook:hover{

    				background: #476fc1;
				    transition: all 0.3s ease;
				    -webkit-transition: all 0.3s ease;
				    -moz-transition: all 0.3 ease;
				    -o-transition: all 0.3 ease;

    		}

		}

		img{

			border: 0;
		}

	}

	ul{

		li{

			text-decoration: none;
			list-style: none;

			&.etabs{

				&__tabs{

					&__tab{

						background: none;
						background-color: none;


						&.active{

							background: none;
							background-color: none;

						}

						a{
							
							background: #BF1E2E;
							transition: all 0.3s ease;
							border-radius: 8px;
					   		-webkit-transition: all 0.3s ease;
					   		-moz-transition: all 0.3 ease;
					   		-o-transition: all 0.3 ease;

							&:hover{

								background: white;
								color: #111;
								transition: all 0.3s ease;
					   			-webkit-transition: all 0.3s ease;
					   			-moz-transition: all 0.3 ease;
					   			-o-transition: all 0.3 ease;

							}

						}
						
					}
				}

			}

		}


		
	}

	form{

		input[type='text'], input[type='password'], input[type='tel'], input[type='email']{

		    border: none;
		    border-bottom-style: solid;
		    border-bottom-color: black;
		    color: black;
		    background: transparent;
		    transition: all 2s ease;
		    -webkit-transition: all 2s ease;
		    -moz-transition: all 2s ease;
		    -o-transition: all 2s ease;

		    &.field{

		    	color: black;

		    	&:hover{

		    		color: white;
		    	}

		    }

			&:active{

				border-bottom-style: solid;
				border-bottom-color: white;
				background: transparent;
				transition: all 2s ease;
			    -webkit-transition: all 2s ease;
			    -moz-transition: all 2s ease;
			    -o-transition: all 2s ease;
			}

			&:hover{

				color: white;
				border-bottom-style: dashed;
				border-bottom-color: white;
				background: transparent;
				transition: all 0.3s ease;
			    -webkit-transition: all 0.3s ease;
			    -moz-transition: all 0.3 ease;
			    -o-transition: all 0.3 ease;

			}

		}

		input{

			&.action.button{

				background: #BF1E2E;
			    border: 1px solid #808080;
			    border-radius: 8px;
			    display: inline-block;
			    color: white;
			    transition: all 0.3s ease;
			    -webkit-transition: all 0.3s ease;
			    -moz-transition: all 0.3 ease;
			    -o-transition: all 0.3 ease;
			    font-weight: 500;
			    width: auto;
			    height: auto;
				cursor: pointer;


			    &:hover{

			    	color: #111;
			    	background: #FEFEFE;
			    	border: 1px solid #BF1E2E;
				    transition: all 0.3s ease;
				    -webkit-transition: all 0.3s ease;
				    -moz-transition: all 0.3 ease;
				    -o-transition: all 0.3 ease;

			    }
			}

		}

	}

	section{

		&.jumbotron{

			height: auto;
			width: 100%;
			margin: 0;
			padding: 0;
			border-radius: 0;

		}
	}

	header{

		margin: 0;
		padding: 0;
		min-height: 95px;
		font-weight: 300;
		width: 100%;
		background: black;

		a{

			color: #363435;

			&.-signup{

				font-size: 15px;
				width: auto;
				height: auto;

			}

		}

		nav{

			background: rgba( 0, 0, 0, 1 );
			-webkit-transition: background 1s ease-in-out;
			-moz-transition: background 1s ease-in-out;
			-o-transition: background 1s ease-in-out;
			transition: background 1s ease-in-out;
			position: fixed;
			z-index: 100;
			width: 100%;
			-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);

			/*
			&:hover{

				background: rgba( 30, 30, 30, 1 );
				-webkit-transition: background 1s ease-in-out;
				-moz-transition: background 1s ease-in-out;
				-o-transition: background 1s ease-in-out;
				transition: background 1s ease-in-out;

			} */

			div{

				i{

					&.fa-search{



					}
				}

				&.-content{

					margin: 0;
    				padding: 0;
    				text-align: center;

    				a{

    					color: white;
    					border-bottom: 0 solid #363435;
						-webkit-transition: all 0.3s ease-in-out;
						-moz-transition: all 0.3s ease-in-out;
						-o-transition: all 0.3s ease-in-out;
						transition: all 0.3s ease-in-out;

						&:hover{

							color: #BF1E2E;
							border-bottom: 5px solid #BF1E2E;
							-webkit-transition: all 0.3s ease-in-out;
							-moz-transition: all 0.3s ease-in-out;
							-o-transition: all 0.3s ease-in-out;
							transition: all 0.3s ease-in-out;

						}
    				}

				}

				&.-logo{

					margin: 0;
					padding: 0;
					text-align: center;

				}


				ul{

					li{

						&.list{

							display: inline-block;
    						margin: 0 25px;

						}

					}

				}

				&.-login{

					margin: 25px 0;
					padding: 0;
					text-align: center;

					form{

						input[type='text'], input[type='password']{

							border: none;
							color: white;
							border-bottom-style: solid;
    						border-bottom-color: white;
    						background: transparent;
    						transition: all 2s ease;
						    -webkit-transition: all 2s ease;
						    -moz-transition: all 2s ease;
						    -o-transition: all 2s ease;

							&:active{

								border-bottom-style: solid;
	    						border-bottom-color: #BF1E2E;
	    						background: transparent;
	    						transition: all 2s ease;
							    -webkit-transition: all 2s ease;
							    -moz-transition: all 2s ease;
							    -o-transition: all 2s ease;
							}

							&:hover{

								color: #BF1E2E;
								border-bottom-style: dashed;
	    						border-bottom-color: #BF1E2E;
	    						background: transparent;
	    						transition: all 0.3s ease;
							    -webkit-transition: all 0.3s ease;
							    -moz-transition: all 0.3 ease;
							    -o-transition: all 0.3 ease;

							}

						}

						input.-btn{

						    background: #BF1E2E;
						    border: 1px solid #808080;
						    border-radius: 13px;
						    display: inline-block;
						    color: white;
						    transition: all 0.3s ease;
						    -webkit-transition: all 0.3s ease;
						    -moz-transition: all 0.3 ease;
						    -o-transition: all 0.3 ease;
						    font-weight: 500;
						    width: auto;
						    height: auto;
			    			cursor: pointer;
			    			padding: 0.15em 1.25em;


						    &:hover{

						    	color: #111;
						    	background: #FEFEFE;
						    	border: 1px solid #BF1E2E;
							    transition: all 0.3s ease;
							    -webkit-transition: all 0.3s ease;
							    -moz-transition: all 0.3 ease;
							    -o-transition: all 0.3 ease;

						    }

						}
					}
				}

			}

			ul {

				display: inline-block;
				margin: 30px auto;
				padding: 0;

				li{

					a{



					}

					ul{

						display: block;
	    				position: relative;
	    				left: -40px;

					}

				}

			}

		}

	}


	main{

		color: white;
		margin: 0 auto;
		padding: 0;
		// background-image: url('/img/curls.png');
		background-image: url('/themes/wild/img/curls.png');
		background-repeat: repeat;
		max-width: 1366px;

		section{

			&.-generic{

				padding: 50px;

				a{

					color: white;

					&:hover, &:active{

						color: #BF1E2E;

					}

				}
			}


			&.-results{

				div{

					&.drawbox{

						background: white;
					    color: #111;
					    text-align: center;
					    border: 1px solid #111;
					    border-radius: 8px;

					}

				}

			}

			&.drawbox{

				display: block;
				width: auto;
				margin: 15px auto;

				div{

					&.hidden-xs{

						position: relative;
						margin-right: 25px;
						width: 155px;
						display: inline-block;

					}

					&.drawbox{

						&__content{

						    padding: 5px 15px;
						    line-height: 26px;
						    display: inline-block;
						    width: auto;
						    color: black;

						}

					}

					&.containerwrap{

						display: inline-block;
					}

					&.notification{

						display: block;
						border: 1px solid red;
						border-radius: 5px;
						background: white;
						color: #111;
						font-weight: 500;
						padding: 20px 0;

						&__text{

							display: inline-block;
							width: 60%;
							margin-left: 20px;

						}

						a{

							float: right;
							display: inline-block;
							margin-right: 20px;
							border: 1px solid black;
							background: #BF1E2E;
							border-radius: 5px;
							padding: 5px 5px 0 5px;
							width: 150px;
							height: 40px;
							text-align: center;
							color: white;
							top: -7px;
							position: relative;
							transition: all 0.3s ease;
			   				-webkit-transition: all 0.3s ease;
			   				-moz-transition: all 0.3s ease;
			   				-o-transition: all 0.3s ease;


							&:hover{

								background: white;
								color: #111;
								border: 1px solid #BF1E2E;
								transition: all 0.3s ease;
			   					-webkit-transition: all 0.3s ease;
			   					-moz-transition: all 0.3s ease;
			   					-o-transition: all 0.3s ease;

							}
						}

					}

					&.-event-box{

						margin: 20px auto;
					    background: white;
					    color: #111;
					    border: 1px solid #BF1E2E;
					    border-radius: 5px;

					    div{

				    		display: inline-block;
				    		border: none;

					    	&.-img{

    							margin: 20px;

    							img{

								    vertical-align: middle;
								    border-style: none;
								    width: 200px;

    							}

					    	}

					    	&.-details{


					    	}

					    	&.-cta{

								float: right;
								margin: 50px 50px 50px 0;

								a{

								    display: block;
								    margin-right: 20px;
								    border: 1px solid black;
								    background: #BF1E2E;
								    border-radius: 5px;
								    padding: 5px 5px 0 5px;
								    width: 150px;
								    height: 40px;
								    text-align: center;
								    color: white;
								    top: -5px;
								    position: relative;
								    transition: all 0.3s ease;
								    -webkit-transition: all 0.3s ease;
								    -moz-transition: all 0.3s ease;
								    -o-transition: all 0.3s ease;
								    margin-top: 5px;
								    margin-bottom: 5px;
								    transition: all 0.3s ease;
									-webkit-transition: all 0.3s ease;
									-moz-transition: all 0.3 ease;
									-o-transition: all 0.3 ease;

								    &:hover{

								    	color: #111;
								    	background: #FEFEFE;
								    	border: 1px solid #BF1E2E;
									    transition: all 0.3s ease;
									    -webkit-transition: all 0.3s ease;
									    -moz-transition: all 0.3 ease;
									    -o-transition: all 0.3 ease;

								    }

								}

					    	}

					    }

					}

				}
			}

			h3{

				&.header{

					margin: 15px 0;
					padding: 0 0 0 6.8%;

				}

			}

			div{

				&#accordion{

					max-width: 500px;
    				margin: 40px auto;
				    padding: 30px 0;
				    background: white;
				    border: 1px solid black;
				    color: black;
				    border-radius: 5px;

				    div{

				    	&.panel-default{

							background: white;
							transition: all .3s ease;
							-webkit-transition: all .3s ease;
							-moz-transition: all .3s ease;
							-o-transition: all .3s ease;

				    		.panel-heading{

						    	text-align: left;
						    	border: none;
						    	border-bottom: 1px solid black;
						    	padding: 5px 0 5px 10px;
						    	margin: 2px 0;
						    	background-image: none;
						    	background-color: white;
						    	background-repeat: no-repeat;
						    	transition: all .3s ease;
								-webkit-transition: all .3s ease;
								-moz-transition: all .3s ease;
								-o-transition: all .3s ease;

						    	&:hover{

					    			background: #BF1E2E;
					    			color: white;
					    			transition: all .3s ease;
									-webkit-transition: all .3s ease;
									-moz-transition: all .3s ease;
									-o-transition: all .3s ease;

				    			}


						    	h4{

						    		line-height: 2.2;
						    	}


						    }

				    		.panel-body{

				    			padding: 20px 10px;

				    		}

				    		&:hover{

				    			background: #BF1E2E;
				    			color: white;
				    			transition: all .3s ease;
								-webkit-transition: all .3s ease;
								-moz-transition: all .3s ease;
								-o-transition: all .3s ease;

			    			}

				    	}



				    	&.-info-box-header{

			    			border-bottom: 1px solid black;


				    		i, h3{

				    			display: inline-block;

				    		}

				    		i{

								margin: 20px 10px;
							    position: relative;
							    font-size: 30px;

				    		}

				    		h3{


				    		}

				    	}

				    	&.-cta{

				    		a{

				    			padding: 15px 0 15px 10px;

				    		}
				    		
				    	}

				    	a{

					    	color: black;
					    	font-weight: 300;
					    	font-size: 20px;
							transition: all .3s ease;
							-webkit-transition: all .3s ease;
							-moz-transition: all .3s ease;
							-o-transition: all .3s ease;

					    	&:hover{

					    		color: white;
					    		transition: all .3s ease;
								-webkit-transition: all .3s ease;
								-moz-transition: all .3s ease;
								-o-transition: all .3s ease;

					    	}

					    	&.collapsed{

								display: inline-block;
								overflow: hidden;

							}

					    }

				    }

				}

				&.cmsinput{

					padding: 50px;

				}

				&.account{

					div{

						border-radius: 8px;

					}

					&__section{

						background: black;

						&.box{

							background: black;

						}

					}

					&__header{

						color: white;

					}

					&__content{

						color: black;
						background: #BF1E2E;

						.cmsinput{

							h1, h2, h3, h4, h5, h6{
								color: black;
							}

							color: white;

						}

						.funds{

							&__title{

								color: white;
							}

						}

						div{

							&.dataTables{

								&_info{

									color: white;

								}

								&_paginate{

									a{

										color: white !important;
										cursor: pointer;

										&:hover{

											color: black !important;

										}

									}

								}

							}

						}

						h2{

							&.account__name{

								color: white;

							}

						}

						h3{

							&.account__fieldname{

								color: black;
							}

						}

						p, address{

							&.account__fields{

								color: white !important;

							}

						}

					}



				}

			}

			&.-games{

				margin-bottom: 20px;

				h3{

					margin-left: 46px;

				}

				div{

					&.-padded-15{

					    margin: 0;
					    padding: 20px 0;
					    width: auto;
					    background: #111;
					    border-radius: 20px;

					}

					&.-loadmore{

						display: block;
    					position: relative;
    					margin: 0 auto;
    					width: 140px;
    					background: #111;
    					text-align: center;
    					padding: 0 0 10px 0;
    					border-radius: 5px;
    					top: -5px;


    					a{

						    color: white;
						    text-decoration: none;
						    font-weight: 300;
						    font-size: 20px;
							transition: all .3s ease;
    						-webkit-transition: all .3s ease;
    						-moz-transition: all .3s ease;
    						-o-transition: all .3s ease;

    						&:hover{
    							color: #BF1E2E;
    							-webkit-transition: all .3s ease;
    							-moz-transition: all .3s ease;
    							-o-transition: all .3s ease;

    						}

    					}

					}

				}

				ul{
					display: block;
					margin: 0;
					padding-left: 40px;


					li{

						display: inline-block;
					    padding: 3px;

						div{

							text-align: center;

							&.-overlay{

								border: 5px solid transparent;
								background: transparent;

								&:hover{

									border: 5px solid white;
									background: white;

								}

								a{

									text-align: center;
								    background: white;
								    margin: 5px auto;
								    color: #111;
								    width: 100%;
								    font-weight: 700;
								    display: block;

									&:hover{

										color: #BF1E2E;
										text-align: center;

									}
								}

							}

							&.-hide{

								display: none;

							}

							&.-game-title{

							    padding: 15px;
							    background: #BF1E2E;
							    font-weight: 700;

							}

						}

						span{

							&.-game-price{

								float: right;
							    background: white;
							    color: black;
							    padding: 5px 8px;
							    border: 1px solid black;
							    border-radius: 10px;
							    /* width: 5px; */
							    height: 40px;
							    /* margin-bottom: 10px; */
							    position: relative;
							    top: -10px;

							}

						}

						img{

							width: 295px;
							height: 158px;

						}

					}
				}
			}

			table{

				margin: 20px auto;
				text-align: center;
				width: 100%;
				border-collapse: collapse;

				thead{

					background: #BF1E2E;
					color: white;

				}

				tbody{

					background: white;
					color: #111;

				}

				th{

					vertical-align: center;

				}

				td{

					border-bottom: 2px solid black;
					padding: 10px;
					vertical-align: center;

				}

			}

			&.focusarea{

				background: white;
				color: #111;
				width: 100%;

				div{

					a{

						color: #111;

						&.button{

							color: white;

							&:hover{

								color: #111;

							}


						}

						&:hover, &:active{

							color:#BF1E2E;

						}

					}

					input, p, a, h3, label{

						margin: 15px auto;

					}

					select{

    					padding: 0;
    					margin: 15px 0;

					}

					input[type='submit']{

						background: #BF1E2E;
					    border: 1px solid #808080;
					    border-radius: 8px;
					    display: inline-block;
					    color: white;
					    line-height: 1.6;
					    transition: all 0.3s ease;
					    -webkit-transition: all 0.3s ease;
					    -moz-transition: all 0.3 ease;
					    -o-transition: all 0.3 ease;
					    font-weight: 500;
					    width: auto;
					    height: auto;
					    cursor: pointer;

					    &:hover{

							background: white;
							color: #111;
					    	border: 1px solid #BF1E2E;
					    	transition: all 0.3s ease;
						    -webkit-transition: all 0.3s ease;
						    -moz-transition: all 0.3 ease;
						    -o-transition: all 0.3 ease;
					    }

					}

					&.focusarea__container{

						background: #BF1E2E;
						padding: 20px 0;
						color: black;

						&.game{

							background: transparent;

							div{

								&.cmsinput{

									background: white;
									color: black;
									border-radius: 8px;

									h3{

										color: black;
									}

									div{

										&.focusarea{

											&__ctacontainer{



											}

										}

									}
								}

							}
						}

						form{

							input[type='text'], input[type='password'], input[type='tel'], input[type='email']{

							    border: none;
							    border-bottom-style: solid;
							    border-bottom-color: black;
							    background: transparent;
							    transition: all 2s ease;
							    -webkit-transition: all 2s ease;
							    -moz-transition: all 2s ease;
							    -o-transition: all 2s ease;

								&:active{

									border-bottom-style: solid;
									border-bottom-color: white;
									background: transparent;
									transition: all 2s ease;
								    -webkit-transition: all 2s ease;
								    -moz-transition: all 2s ease;
								    -o-transition: all 2s ease;
								}

								&:hover{

									color: white;
									border-bottom-style: dashed;
									border-bottom-color: white;
									background: transparent;
									transition: all 0.3s ease;
								    -webkit-transition: all 0.3s ease;
								    -moz-transition: all 0.3 ease;
								    -o-transition: all 0.3 ease;

								}

							}

							a{

								&.form{

									&__fieldholdertext{

										color: black;

									}

									&__fieldholdertext:hover{

										color: white;
									}

								}

								&.button{

									color: white;
									transition: all 0.3s ease;
									-webkit-transition: all 0.3s ease;
			   						-moz-transition: all 0.3 ease;
			   						-o-transition: all 0.3 ease;

									&:hover{

										color: black;
										transition: all 0.3s ease;
										-webkit-transition: all 0.3s ease;
			   							-moz-transition: all 0.3 ease;
			   							-o-transition: all 0.3 ease;

									}
									

								}

							}
						}

						a{

							&.button{

								color: white;
								transition: all 0.3s ease;
								-webkit-transition: all 0.3s ease;
		   						-moz-transition: all 0.3 ease;
		   						-o-transition: all 0.3 ease;

								&:hover{

									color: black;
									transition: all 0.3s ease;
									-webkit-transition: all 0.3s ease;
		   							-moz-transition: all 0.3 ease;
		   							-o-transition: all 0.3 ease;

								}		

							}
						}

					}

					input[type='text'], input[type='password'], input[type='email'], input[type='tel'], select{

						width: 300px;

					}

					&.containerwrap{

						color: black;

						div{

							&.register{


							}

						}

					}

				}

			}

		}

		div{

			&.account{

				&__content{

					background: #BF1E2E;

					h2{

						color: black;
					}

					color: white;

					div{

						&.dataTables{

							&_info{

								color: white;

							}

							&_paginate{

								a{

									color: white !important;
									cursor: pointer;

									&:hover{

										color: black !important;

									}

								}

							}

						}

					}

				}
				
				&__section{

					background: black;
				}

			}

			&.pageheader {

				&.primarycolour{

					background: #BF1E2E;

				}

			}

			&.cmsinput{

				&--faint{

					padding: 50px;

					a{

						color: #BF1E2E;

						&:hover{

							color: #f2374a;

						}



					}

				}

				table{

					margin: 20px auto;
					text-align: center;
					width: 100%;
					border-collapse: collapse;

					thead{

						background: #BF1E2E;
						color: white;

						td{

							color: black;
							background-color: #BF1E2E;
						}

					}

					tbody{

						background: white;
						color: #111;

					}

					th{

						vertical-align: center;

					}

					td{

						border-bottom: 2px solid black;
						padding: 10px;
						vertical-align: center;

					}

				}

			}

			&.containerwrap{

				margin: 0 0 20px 0;

			}

		}

	}


	footer{

		background: #111;
		color: white;
	    padding: 0;
	    margin: 0 auto;
	    max-width: 1366px;

		div{

			&.div.-top.-left{

				min-width: 500px;
				display: inline-block;
				width: 60%;
				margin: 40px 20px;
				// max-width: 100%;

				ul{

					display: inline-block;

					&.-container{

						top: 0;
						position: relative;
						margin: 0 40px 0 0;

					}

					li{

						display: block;


						&.-heading{

							font-weight: 700;
							margin-left: 20px;

						}

					    ul{

					    	display: block;
					    	margin: 0;
    						padding: 0;

					    	li{

					    		display: block;
					    		font-weight: 300;

					    		a{

					    			color: white;


					    			&:hover, &:active{

					    				color: #111

					    			}

					    		}

					    	}
					    	
					    }

					}

				}

			}

			&.div.-top.-right{

				min-width: 450px;
				display: inline-block;
				width: 25%;
				// max-width: 100%;

				div{

					&.-top{

						display: block;
						width: 125px;
						margin: 0;
						padding: 0;

						a{
							
							img{

								width: 100%;
								max-height: 100%;
								object-fit: contain;

							}

						}

					}

					&.-bottom{

						p{

							display:block;
							font-weight: 300;
							
						}

					}


				}



			}

			&.div.-bottom.-fullwidth{

				margin: 20px auto;

				ul{

					display: block;

					li{

					    display: inline-block;
					    margin: 0 7%;
					    
						div{

							width: 50px;

							img{

								width: 100%;
								max-height: 100%;
								object-fit: contain;

							}

						}

					}

				}

			}

			&.div.-copyright{

				margin-top: 20px;

			}

		}
	}

	aside{

		&#jumptotop{

			float: right;
		    z-index: 90;
		    position: fixed;
		    top: 20px;
		    right: 3%;
		    width: 100px;
		    height: 100px;
		    top: 85%;
		    border: 5px solid #BF1E2E;
		    border-radius: 80px;
		    transition: all 0.3s ease;
		    -webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3s ease;
		    -o-transition: all 0.3s ease;

		    &:hover{

		    	border: 5px solid white;
			    transition: all 0.3s ease;
			    -webkit-transition: all 0.3s ease;
			    -moz-transition: all 0.3s ease;
			    -o-transition: all 0.3s ease;

		    }

		    a{

		    	width: 30px;
			    height: 300px;
			    position: relative;
			    position: relative;
			    margin: 0 auto;

			    i{

			        width: 30px;
    				height: 30px;
    				font-size: 50px;
    				position: relative;
    				top: 10px;
    				left: 20px;
    				color: #BF1E2E;	
					transition: all 0.3s ease;
				    -webkit-transition: all 0.3s ease;
				    -moz-transition: all 0.3s ease;
				    -o-transition: all 0.3s ease;

    				&:hover{

	    				color: white;
	    				top: 5px;
						transition: all 0.3s ease;
					    -webkit-transition: all 0.3s ease;
					    -moz-transition: all 0.3 ease;
					    -o-transition: all 0.3 ease;


    				}

			    }

		    }

		}

	}
}

@media (max-width: 960px){

	#container{

		header{
    		height: 278px;
    		width: 100%;

    	}

    	.socialbox{

    		display: none;

    	}


		section{

			&.jumbotron{

				background: black;

				div{

	    			&.carousel-item{

	    				height: auto !important;

	    				img{

	    					height: auto !important;

	    				}
	    				
	    			}

	    		}

			}
		}

	}

}

