html, body{ 
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

body{
	background: #111;
}

#container{

	aside{
		float: right;
	}

	min-width: 1000px;
	margin: 0;
	padding: 0;
	background: #1B1718;

	.-hide{

		display: none;

	}

	a {

		text-decoration: none;

		img{

			border: 0;
		}

	}

	ul{

		li{

			text-decoration: none;
			list-style: none;

		}
		
	}

	header{

		margin: 0;
		padding: 0;
		width: auto;
		font-weight: 300;

		a{
			color: #363435;
		}

		nav{

			background: rgba( 255, 255, 255, .8 );
			-webkit-transition: background 1s ease-in-out;
			-moz-transition: background 1s ease-in-out;
			-o-transition: background 1s ease-in-out;
			transition: background 1s ease-in-out;

			&:hover{
				background: rgba( 255, 255, 255, 1 );
				-webkit-transition: background 1s ease-in-out;
				-moz-transition: background 1s ease-in-out;
				-o-transition: background 1s ease-in-out;
				transition: background 1s ease-in-out;
			}

			div{

				i{

					&.fa-search{



					}
				}

				&.-center{

					margin: 0 auto;
    				padding: 0;

				}

				ul{

					li{

						&.list{

							display: inline-block;
    						margin: 0 25px;

						}

					}

				}

				&.-login{

					margin: 25px 0;

					form{

						input[type='text'], input[type='password']{

							border: none;
							border-bottom-style: solid;
    						border-bottom-color: black;
    						background: transparent;

							&:active{

								border: none;
								border-bottom-style: solid;
	    						border-bottom-color: black;
	    						background: transparent;

							}

							&:hover{


							}

						}

						input.-btn{

						    background: #BF1E2E;
						    border: 1px solid #808080;
						    border-radius: 8px;
						    display: inline-block;
						    color: #cdcdcd;
						    line-height: 1.6;
						    transition: all 0.3s ease;
						    font-weight: 300;
						    width: 80px;
						    height: 30px;

						}
					}
				}

			}

			ul {

				display: inline-block;
				margin: 30px auto;

				li{

					a{



					}

					ul{

						display: block;
	    				position: relative;
	    				left: -40px;

					}

				}

			}

		}

	}

	section{

		&.jumbotron{

			height: auto;
			width: auto;
			margin: 0;
			padding: 0;
			border-radius: 0;

		}

	}

	main{

		h3{

			&.header{

				margin: 15px 0;
				padding: 0 0 0 6.8%;

			}

		}

		color: white;

		section{

			div{

				&#accordion{

					max-width: 500px;
				    margin: 0 auto;
				    padding: 15px 0;
				    background: white;

				    a{

				    	color: black;

				    }

				    .panel-heading{

				    	text-align: center;

				    }

				}

			}

			&.-games{

				div{

					&.-padded-15{

					    margin: 0;
					    padding: 20px 0;
					    width: auto;
					    background: #111;

					}
				}

				div{

					&.-loadmore{

						display: block;
    					position: relative;
    					margin: 0 auto;
    					width: 140px;
    					background: #111;
    					padding: 15px 30px;

    					a{

						    color: white;
						    text-decoration: none;
						    font-weight: 300;

    					}

					}


				}

				ul{
					display: block;
					margin: 0;


					li{

						display: inline-block;
					    padding: 3px;

						div{

							text-align: center;

							&.-overlay{

								// position: fixed;

							}

							&.-hide{

								display: none;

							}

							&.-game-title{

							    padding: 15px;
							    background: #BF1E2E;
							    font-weight: 700;

							}

						}

						img{

							width: 295px;
							height: 158px;

						}

					}
				}
			}
		}
	}


	footer{

		background: #111;
		color: white;

		div{

			&.div.-top.-left{

				min-width: 500px;
				display: inline-block;
				width: 60%;
				// max-width: 100%;

				ul{

					display: inline-block;

					li{

						display: block;

						&.-heading{

							font-weight: 700;

						}

					    ul{

					    	display: block;
					    	margin: 0;
    						padding: 0;

					    	li{

					    		display: block;
					    		font-weight: 300;

					    	}
					    	
					    }

					}

				}

			}

			&.div.-top.-right{

				min-width: 450px;
				display: inline-block;
				width: 25%;
				// max-width: 100%;

				div{

					&.-top{

						display: block;
						width: 125px;
						margin: 0;
						padding: 0;

						a{
							
							img{

								width: 100%;
								max-height: 100%;
								object-fit: contain;

							}

						}

					}

					&.-bottom{

						p{

							display:block;
							font-weight: 300;
							
						}

					}


				}



			}

			&.div.-bottom.-fullwidth{

				ul{

					display: block;

					li{

					    display: inline-block;
					    margin: 0 7%;
					    
						div{

							width: 50px;

							img{

								width: 100%;
								max-height: 100%;
								object-fit: contain;

							}

						}

					}

				}

			}
		}
	}
}


